name: Dev

# Runs tests on any push except main
on:
  push:
    branches:
      - '*'
      - '!main'
jobs:
  test:
    runs-on: [ubuntu-latest]
    steps:
      # Getting the code
      - uses: actions/checkout@v4
      # Install python
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install requirements
        # Installing project and testing dependencies
        run: | 
          pip install -r fastapi/requirements.txt
          pip install coverage httpx
        # Run tests
      - name: Run tests
        run: coverage run fastapi/tests.py
        # Show coverage report
      - name: Tests report
        run: coverage report

  push-docker:
    runs-on: [ubuntu-latest]
    needs: 'test'
    env:
      LOGIN: ${{ secrets.DOCKER_LOGIN }}
      NAME: ${{ secrets.DOCKER_NAME }}
    steps:
      # Logging in to docker hub
      - name: Login to docker.io
        run: echo ${{ secrets.DOCKER_PWD }} | docker login -u ${{ secrets.DOCKER_LOGIN }} --password-stdin
      # Getting the code
      - uses: actions/checkout@v4
      # Building the image with tag {branch_name}
      - name: Build image
        run: echo ${GITHUB_REF:11}
      - name: Build image
        run: echo $LOGIN
      - name: Build image
        run: echo $NAME
      - name: Build image
        run: docker build -t $LOGIN/$NAME:${GITHUB_REF:11} -f ./fastapi/Dockerfile .
      # Push to docker hub with tag {branch_name}
      - name: Push image to docker.io
        run: docker push $LOGIN/$NAME:${GITHUB_REF:11}

  deploy-ssh:
    # Runs if docker image is pushed
    needs: 'push-docker'
    runs-on: [ubuntu-latest]
    steps:
      - name: Run command on remote server
        uses: D3rHase/ssh-command-action@v0.2.2
        with:
          host: ${{secrets.SSH_DEV_HOST}}
          user: ${{secrets.SSH_DEV_USER}}
          private_key: ${{secrets.SSH_DEV_PRIVATE_KEY}}
          command: |
            cd ${{ secrets.DEV_PROJECT_FOLDER }};
            git pull;
            docker compose build;
            docker compose down;
            docker compose up -d;