name: Run tests on push

# Runs tests on any push in any branch
on:
  push:
    branches:
      - '*'
jobs:
  run_tests:
    runs-on: [ubuntu-latest]
    steps:
      # Getting the code
      - uses: actions/checkout@v4
      # Install python
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install requirements
        # Installing project and testing dependencies
        run: | 
          pip install -r fastapi/requirements.txt
          pip install coverage httpx
        # Run tests
      - name: Run tests
        run: coverage run fastapi/tests.py
        # Show coverage report
      - name: Tests report
        run: coverage report

  deploy:
    # Runs if tests passed
    needs: 'run_tests'
    runs-on: [ubuntu-latest]
    # Runs if commit is pushed to main
    if: github.ref == 'refs/heads/main'
    steps:
#      - name: Checkout code
#        uses: actions/checkout@v3
#      - name: Install Ruby and gems
#        uses: ruby/setup-ruby@ee2113536afb7f793eed4ce60e8d3b26db912da4 # v1.127.0
#        with:
#          bundler-cache: true
      - name: Run command on remote server
        uses: D3rHase/ssh-command-action@v0.2.2
        with:
          host: ${{secrets.SSH_HOST}}
          user: ${{secrets.SSH_USER}}
          private_key: ${{secrets.SSH_PRIVATE_KEY}}
          command: |
            cd ${{ secrets.PROJECT_FOLDER }};
            git pull;
            docker compose build;
            docker compose down;
            docker compose up -d;